.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 90vh;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.close {
  padding: 4px 10px;
  margin: 10px 10px;
  border: 1px solid white;
  border-radius: 5px;
}
